@keyframes spinner {
  0% {
    transform: rotate(0deg);
    border-color: #19d3ae;
  }
  25% {
    border-color: #f59e0b;
  }
  50% {
    border-color: #ef4444;
  }
  75% {
    border-color: #8b5cf6;
  }
  100% {
    transform: rotate(360deg);
    border-color: #19d3ae;
  }
}

.loader {
  animation: spinner 1s infinite;
  border-top-color: transparent;
}
