@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  .whitespace-normal {
    white-space: normal;
  }
  
  
  .animate-pulse {
    animation: pulse 2s infinite;
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.8s ease-out;
  }
  
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  
  .hover\:animate-wiggle:hover {
    animation: wiggle 0.3s ease-in-out infinite;
  }
  